@model Globalization.Dto.ViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<button class="btn btn-danger">@SharedLocalizer["Create"]</button>